<div class="row">
  <form class="col s12 m4 l3">
      <div class="input-field col s12">
        <textarea id="twitcontent" class="materialize-textarea" data-length="140"></textarea>
        <label for="twitcontent">Textarea</label>
        <!-- <%= form_tag("/twits", method: "post", class: "col s12 add_twit") do %> -->
          <button id="post" class="btn btn-medium waves-effect waves-light blue" type="submit">
            <!-- onclick="this.disabled=true;this.value='Posting'; this.form.submit();" -->
            <span id="buttontext">POST</span>
          </button>
        <!-- <% end %> -->
      </div>
  </form>
    <div class="col s12 m7 l7">
      <div id="twit_list">
        <% @twits.each do |t| %>
            <div class="card card_<%= t.id %>" id="card_<%= t.id %>">
              <div class="card-content">
                <div class="row">
                  <span class="col s6 m6 l6 card-title"> <%= "@" + t.user.username %></span>
                  <span class="col s6 m6 l6 right-align" id="time_<%= t.id%>"><%= time_ago_in_words(t.created_at) + " ago"%></span>
                </div>
                <p id="content_<%= t.id %>"> <%= t.content %> </p>
              </div>
                <div class="card-action">
                  <a class="left edit_twit" href="#" id="<%= t.id %>">
                    <% if current_user == t.user %>
                      <i class="material-icons pencil" name="<%= t.user.username %>" id="<%= t.id %>">edit</i>
                    <% end %>
                  </a>
                  <a class="right remove_twit" href="#" id="<%= t.id %>">
                    <% if current_user == t.user %>
                      <i class="material-icons trash" id="<%= t.id %>">delete</i>
                    <% end %>
                  </a>
                </div>
            </div>
        <% end %>
      </div>
    </div>
</div>
