<!DOCTYPE html>
<html>
  <head>
    <title>TwitApp</title>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="https://mobile.twitter.com/favicon.ico">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= render "shared/navbar" %>
  </header>

  <body>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
